.card-bg-dark {
    background-color: #434343;
    color: white;
}

/** {
    border: 1px solid red;
}*/

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: #fff; /* optional */
}
