.screen-overlay {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #FFFFFF;
}

.aro-button {
    position: relative;
    width: 190px;
    height: 50px;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C1B1F;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 0;
    box-sizing: border-box;
}

.aro-button-primary {
    background: #F69126;
    border: none;
}

    .aro-button-primary:hover {
        background: #FF931E;
    }

    .aro-button-primary:active {
        background: #E58115;
    }

.aro-button-secondary {
    background: #F6F6F6;
    border: 0.1px solid black;
}
