@typeparam TEntity
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<CascadingValue Value="Wizard">
<div class="full-screen-overlay">
    <div class="row g-0 h-100">
        <!-- Wizard Header -->
        <div class="col-12 card-bg-dark">
            <WizardHeader 
                HeaderTitle="@Title"
                              OnClose="@HandleClose" />
        </div>
        <!-- Wizard Steps (Sidebar) -->
        <div class="d-none d-md-block col-xl-2  border-end bg-white">
            <WizardSteps StepTitles="Wizard.StepTitles"
                            ActiveStepIndex="Wizard.ActiveStepIndex"
                            AllStepsCompleted="Wizard.EntityCreationComplete" />
        </div>

        <!-- Child content -->
        <div class="col-xl-10 h-100 overflow-y-auto">
            <div class="wizard-content p-5">
                @ChildContent
            </div>
        </div>

    </div>
</div>

</CascadingValue>

<style>
    .full-screen-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #F6F6F6;
        overflow: hidden
    }

    .card-bg-dark {
        background-color: #434343;
        color: white;
    }

    .wizard-content {
        min-height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
    }
</style>

@code {
    [Parameter] public EntityWizardContext<TEntity> Wizard { get; set; } = default!;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    private string Title => $"{(Wizard.IsCreateMode ? "Add New" : "Edit")} {Wizard.Title}";
    private async Task HandleClose()
    {

        NavigationManager.NavigateTo($"/");
    }

}
