@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<link href="css/home.css" rel="stylesheet" />

@* <AuthorizeView>
    <Authorized> *@
        <div class="container-fluid min-vh-100 gx-0">
            <div class="row gx-0 min-vh-100">

                <CollapsibleNavMenu />

        <div class="col" style="background-color: #F5F5F5">
                    @Body
                </div>

            </div>
        </div>
@*     </Authorized>
    <NotAuthorized>
        <!-- No Sidebar for Unauthorized Pages -->
        @Body
    </NotAuthorized>
</AuthorizeView> *@

@code {
}
